$primary-color: #f72585;
$primary-dark: #fcf3f4;
$primary-light: #ffffff;
$primary-pale: #faf8f8;
$primary-shade: #d4cbcb;
$primary-highlight: #4361ee;
$secondary-shade: #151616;
$secondary-color: #fca8c7;
$dark-main: #212529;
$dark-second: #151616;
$dark-shade: #030303;
$dark-light: rgb(202, 199, 199);
