@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;

.header {
  height: 7rem;
  background-color: $primary-color;
  color: white;
  display: flex;
  align-items: center;

  &__inner {
    padding: 0 1rem;
    width: 100%;
    justify-content: space-between;
    display: flex;
    align-items: center;
    position: relative;

    @include tablet {
      padding: 0 2rem;
    }
  }

  &__nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 5.5rem;
    left: 100%;
    transition: all 0.5 ease;

    @include tablet {
      position: static;
      height: auto;
      width: 12rem;
      margin-right: 4rem;
      flex-direction: row;
      justify-content: space-between;
    }

    &--active {
      background: $primary-color;
      left: 0;
      transition: all 0.5s ease;
      z-index: 5000;
    }
  }

  &__nav-link {
    text-align: center;
    padding: 1rem 0;
    width: 100%;
    display: table;
    color: white;
    text-decoration: none;

    &:hover {
      background-color: $secondary-color;
      transition: all 200ms;
      font-size: 1.2rem;
      color: white;

      @include tablet {
        background-color: $primary-color;
        transition: all 200ms;
        font-size: 1.2rem;
      }
    }
  }

  &__logo {
    height: 4rem;
  }

  &__icon {
    color: white;

    &:hover {
      cursor: pointer;
      transition: all 100ms;
      font-size: 1.2rem;
    }
  }

  &__menu-icon {
    @include tablet {
      display: none;
    }
  }

  &__cart-icon {
    position: absolute;
    right: 3rem;
    text-decoration: none;
    display: flex;
    @include tablet {
      position: absolute;
      right: 2rem;
    }
  }

  &__cart-counter {
    margin: 0;
    margin-left: 0.25rem;
    font-size: 0.75rem;
  }

  &__blank {
    display: none;
  }
}
