@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;

.footer {
  height: 27rem;
  background-color: $primary-color;
  color: white;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 0 1rem;
  @include tablet {
    padding: 0 2rem;
  }

  &__logo {
    height: 3rem;
    margin-left: 1rem;
    margin-top: 0.75rem;
  }

  &__text {
    padding-top: 3rem;
    font-size: 0.5rem;
  }

  overflow: hidden;
}
